body{
    margin:0;
}
/* header, .top{

    background-color:blue;
} */

nav{
    display:flex;
    justify-content:space-between;
}

nav ul{
    list-style:none;
    display:flex;
}
li{
    margin-right: 50px;
}
.login-button{
    margin:20px 50px;
    font-size:20px;
    padding:10px 30px;
    border: 1px black;
    background-color:rgb(221, 35, 35);
}

/* end of navigation menu 
   start of top section*/

.top{
    display: flex;
    justify-content:space-evenly;
}
.top img{
    width:70%; 
}
.headline{
    margin-left: 100px;margin-right:500px;
    font-size:1.5em;
}