/* body{
    margin:0;
} */
header, .top{

    background-color:blue;
}

nav{
    display:flex;
    justify-content:space-between;
}

nav ul{
    list-style:none;
    display:flex;
}
li{
    margin-right: 50px;
    color: white;
}
.login-button{
    margin:20px 50px;
    font-size:20px;
    padding:10px 30px;
    border: 1px black;
    background-color:rgb(221, 35, 35);
}
span{
    color: white;
}
.fas{
    color:white;
}
/* end of navigation menu 
   start of top section*/

.top{
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 100px;
}
.top img{
    width:100%; 
}
.headline{
    margin-left: 100px;margin-right:100px;
    font-size:1em;
}
/* end of top section
   start of mid section */

.mid{
    
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:30px;    
}
.footballer{
    border:50px;
    box-shadow: 10px 10px 10px 10px rgb(228, 224, 224);
}
/* end of mid section
    start of bottom section */

.ad-container{
    display:flex;
    justify-content:center;
    margin-bottom: 100px;
}
   
.ad{
    margin-top:80px;
    /* width:200px;height:200px; */
    padding:10px 30px;
    background-color:rgb(151, 120, 120);
    margin-right: 50px;
}
/* .ad img{
    width:100%;
} */
footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    padding-bottom:10px;
}