body{
    margin:0;
}
header, .top{
    background-color:rgb(100, 100, 245);
}

nav{
    display:flex;
    justify-content:space-between;
}

nav ul{
    list-style:none;
    display:flex;
}
li{
    margin-right: 50px;
    color: white;
}
.login-button{
    margin:20px 6px;
    font-size:20px;
    padding:10px 30px;
    border: 1px black;
    background-color:rgb(221, 35, 35);
}
span{
    color: white;
}
.fas{
    color:white;
}
/* end of navigation menu 
   start of top section*/

.top{
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 100px;
}
.top img{
    width:100%; 
}
.welcome{
    margin-left: 100px;margin-right:100px;
    font-size:1em;
}
.welcome h1{
    color:white;
}

.bnr-1{   
    transition:transform.5s ease-in;
}
.top:hover .bnr-1 {
    transform:rotate(-19deg);
    transform-origin:top left;
}
.bnr-2{
    position: relative;
    right:170px;
    top:80px;
    transition:transform.5s ease-out .1s;
}

.top:hover .bnr-2{
    transform:translate(260px);
}

/* end of top section
   start of mid section */

   .middle{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:30px;  
    width:80%;
    margin-left:10%;
    
}

/* .mid{
     
} */
.footballer{
    border:50px;
    box-shadow: 2px 1px 1px 15px rgba(130, 221, 149, 0.26);
}
.footballer img{
    width:100%;
}


/* end of mid section
    start of bottom section */

.ad-container{
    display: flex;
    margin-left:20%;
    margin-right:20%;
    margin-top:100px;
    margin-bottom: 100px;
    width:50%;
}
   
.ad{
    padding:10px 10px;
    background-color:rgb(240, 216, 216);
    margin-right: 50px;
}
.ad img{
    width:100%;
}
footer{
    display:flex;
    flex-direction: column;
    align-items: center;
}